.fa-brands:hover {
  opacity: 0.7;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

body {
	background:
		linear-gradient(90deg, #fff 21px, transparent 1%) center,
		linear-gradient(#fff 21px, transparent 1%) center,
		#000;
	background-size: 22px 22px;
}